/*info Seller*/
.card-seller{
    width: 45em;
    height: 9em;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.card-seller2{
    width: 45em;
    height: 11em;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.center{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.marginLeft{
    margin-left: 18em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.button-info{
    width: 7em;
}
.formList{
    width: 25rem;
    margin-left: 2em;
}
.PICT{
    margin-top: 1em;
    width: 20em;
}
.button{
    width: 160px;
}
.buttonModal{
    width: 600px;
}
.closeButton{
    margin-left: 29em;
    margin-top: 1em;

}
.transparent{
    background-color: transparent;
    width: 2em;
    margin-left: 29em;
    border: none;
}


